# MongoDB Atlas Connection URI
MONGO_URI=your_mongodb_connection_string

# JSON Web Token Secret Key for signing tokens
JWT_SECRET=your_jwt_secret_key_here

# Express Server Port (Default: 5000)
PORT=5000
